/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/mixin/_common.scss */
html, body {
  height: 100%;
  font-size: 0.7rem;
}

/* line 14, ../sass/mixin/_common.scss */
a {
  color: #292929;
  text-decoration: none;
}

/* line 18, ../sass/mixin/_common.scss */
.clearFix {
  overflow: hidden;
  *zoom: 1;
}

/* line 21, ../sass/mixin/_common.scss */
.layer2rm {
  height: 2rem;
  width: 100%;
}

/* line 25, ../sass/mixin/_common.scss */
#Validform_msg {
  display: none;
  position: fixed;
  background-color: #000;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 32, ../sass/mixin/_common.scss */
#Validform_msg .Validform_title {
  display: none;
}
/* line 35, ../sass/mixin/_common.scss */
#Validform_msg .iframe {
  display: none;
}

/* line 40, ../sass/mixin/_common.scss */
.tips {
  position: fixed;
  background-color: #ff;
}

/* line 4, ../sass/mixin/_nav.scss */
.disFlexC, .navBox .navLt, .navBox .navMid, .navBox .navRt, .weLogin {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 10, ../sass/mixin/_nav.scss */
.navBox {
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 2rem;
}
/* line 18, ../sass/mixin/_nav.scss */
.navBox .navLt {
  width: 20%;
}
/* line 22, ../sass/mixin/_nav.scss */
.navBox .navMid {
  width: 100%;
  text-align: center;
}
/* line 27, ../sass/mixin/_nav.scss */
.navBox .navRt {
  width: 20%;
}
/* line 32, ../sass/mixin/_nav.scss */
.navBox .navLt i {
  font-size: 1.2rem;
}

/* line 6, ../sass/login.scss */
.loginBox {
  background-color: #f5f5f5;
  height: 100%;
}

/* line 10, ../sass/login.scss */
.loginTab {
  padding: 0.5rem 0.8rem 0 0.8rem;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.2rem #ccc;
}
/* line 16, ../sass/login.scss */
.loginTab .tabAct a {
  border-bottom: 3px solid #ff8f37;
}
/* line 20, ../sass/login.scss */
.loginTab .defTab {
  width: 50%;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}
/* line 24, ../sass/login.scss */
.loginTab .defTab a {
  display: inline-block;
  line-height: 1.2rem;
  text-align: center;
}

/* line 31, ../sass/login.scss */
.loginFrom {
  padding: 2rem .8rem;
}

/* line 35, ../sass/login.scss */
.fromInAct input {
  border: 1px solid #ff8f37 !important;
}

/* line 39, ../sass/login.scss */
.fromInput {
  padding: 0.3rem 0;
  width: 100%;
}
/* line 42, ../sass/login.scss */
.fromInput input {
  width: 95%;
  border: 1px solid #e6e6e6;
  height: 2rem;
  border-radius: 0.2rem;
  font-size: 0.6rem;
  padding: 0 0.3rem;
  font-style: oblique;
}

/* line 52, ../sass/login.scss */
.loginBtn {
  margin-top: 1.7rem;
  width: 100%;
  color: #fff;
  line-height: 2rem;
  background-color: #ff8f37;
  border: 1px solid #f08635;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  font-weight: 300;
}

/* line 63, ../sass/login.scss */
.loginBottom {
  margin-top: 1rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 67, ../sass/login.scss */
.loginBottom a {
  color: #8f8f8f;
}
/* line 69, ../sass/login.scss */
.loginBottom a:last-child {
  text-decoration: underline;
}

/* line 75, ../sass/login.scss */
.weLogin {
  padding-top: 2rem;
}
/* line 78, ../sass/login.scss */
.weLogin .weBox {
  text-align: center;
}
/* line 80, ../sass/login.scss */
.weLogin .weBox i {
  font-size: 2rem;
  color: #09bb07;
}
/* line 84, ../sass/login.scss */
.weLogin .weBox span {
  display: block;
  color: #8f8f8f;
  padding-top: 0.3rem;
  font-size: 0.2rem;
}
