@import "mixin/_common";
@import "mixin/_template";

@import "mixin/_nav";

.loginBox{
  background-color: $debgCrf5;
  height: 100%;
}
.loginTab{
  padding: 0.5rem 0.8rem 0 0.8rem;
  @include display-flex;
  background-color: $defCrFF;
  box-shadow: 0.1rem 0.1rem 0.2rem #ccc;
  .tabAct{
    a{
      border-bottom: 3px solid $mainCr;
      font-size: $defFSze;
    }
  }
  .defTab{
    width: 50%;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    a{
      display: inline-block;
      line-height: 1.2rem;
      text-align: center;
    }
  }
}
.loginInFrom{
  padding:0 .8rem !important;
}
.loginFrom{
  padding: 2rem .8rem;
}
.loginInTitle{
  color: $mainCr;
  text-align: center;
  line-height: 3rem;
  i{
    font-size: 0.5rem;
    font-family: PingFang-SC;
    margin: 0 0.2rem;
  }
}
.fromInAct{
  input{
    border: 1px solid $mainCr !important;
  }
}
.fromInput{
  padding: 0.3rem 0;
  width: 100%;
  input{
    width: 95%;
    border: 1px solid $bdrInCre6;
    height: 2rem;
    border-radius: $bdRadius;
    font-size: 0.6rem;
    padding: 0 0.3rem;
    font-style: oblique;
  }
}
.inputAddBtn{
  @include display-flex;
  span{
    display: inline-block;
    border: 1px solid $mainCr;
    color: $mainCr;
    background-color: $defCrFF;
    margin-left: 0.5rem;
    width: 70%;
    border-radius: $bdRadius;
    text-align: center;
    line-height: 2rem;
    font-size: $defFSze - 0.1rem;
  }
}

.loginBtn{
  margin-top: 1.7rem;
  width: 100%;
  color: $defCrFF;
  line-height: 2rem;
  background-color: $mainCr;
  border: 1px solid $btnCr;
  border-radius: $bdRadius;
  font-size: $defFSze + 0.2rem;
  font-weight: 300;
}
.loginInBottom{
  margin-top: 1rem;
  @include display-flex;
  @include justify-content(center);
  a {
    color: $fontCr8f;
    text-decoration:underline;
  }
}
.loginBottom{
  margin-top: 1rem;
  @include display-flex;
  @include justify-content(space-between);
  a{
    color: $fontCr8f;
    &:last-child{
      text-decoration:underline;
    }
    i{
      font-size: $defFSze;
    }
  }
}

.weLogin{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -2.5rem;
  width: 5rem;
  @extend .disFlexC;
  .weBox{
    text-align: center;
    i{
      font-size: 2rem;
      color: #09bb07;
    }
    span{
      display: block;
      color: $fontCr8f;
      padding-top: 0.3rem;
      font-size: $defFSze - 0.2rem;
    }
  }
}

.prompting{
  padding-top: 7rem;
  @extend .disFlexC;
  .promptImg{
    position: relative;
    width: 6rem;
    height: 7rem;
    span{
      width: 6rem;
      position: absolute;
      display: block;
      margin: auto;
      bottom: 0;
      text-align: center;
      color: $defCr29;
    }
  }
  .loginInSuces{
    background: url('../images/loginInSuces.png') no-repeat;
    @include background-size(100%);
  }
  .reSetSuces{
    background: url('../images/reSetSuces.png') no-repeat;
    @include background-size(100%);
  }
  .upSuces{
    background: url('../images/upSuces.png') no-repeat;
    @include background-size(100%);
  }
  .setSuces{
    background: url('../images/setSuces.png') no-repeat;
    @include background-size(100%);
  }
}
.promptBottom{
  position: absolute;
  width: 100%;
  bottom: 0;
}
