@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";
@import "./template";


html{
  height: 100%;
  font-size: $defFSze;
}
body{
  @extend html;
}
a{
  color: $defCr29;
  text-decoration:none;
}
.clearFix{
  @include clearfix;
}
.layer2rm{
  height: $navLht;
  width: 100%;
}
#Validform_msg{
  display: none;
  position: fixed;
  background-color: #000;
  color: #fff;

  @include opacity(0.5);
  .Validform_title{
    display: none;
  }
  .iframe{
    display: none;
  }
}

.tips{
  display: none;
  position: fixed;
  background-color: #000;
  @include opacity(0.5);
  top: 40%;
  left: 50%;
  margin-left: -5rem;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 0.3rem;
  span{
    display: inline-block;
    width: 6rem;
    color: #fff;
    text-align: center;
    font-size: $defFSze - 0.1rem;
  }
}