//主色
$mainCr : #ff8f37;
//背景色
$debgCrf5: #f5f5f5;
//inputLine
$bdrInCrf0: #f08635;
$bdrInCre6: #e6e6e6;

//btnLine
$btnCr:#f08635;
//白色
$defCrFF: #fff;


//字色
$defCr29: #292929;
$defFtCrFF: #fff;
$fontCr8f: #8f8f8f;
$fontCr99: #999999;

//字号
$defFSze:0.7rem;

//圆角
$bdRadius:0.2rem;

//nav高
$navLht:2rem;